* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', serif;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #172432; */
    padding: 1rem;

    background-image: radial-gradient(#FE9101 0.5px, transparent 0.5px), radial-gradient(#FE9101 0.5px, #172432 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    border-bottom: 2px solid #FE9101;
}

.logo {
    margin-right: 2rem;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FE9101;
    text-decoration: none;
}

.ops {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ops a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.3s ease-in-out;
}

.ops #item4 {
    color: #FE9101;

}

.ops a:hover {
    color: #FE9101;
    border-radius: 5px;
}

.ops img {
    margin-left: 1rem;
    width: 15px;

    cursor: pointer;
    filter: invert(100%);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #172432;
    color: white;
}


.about-header {
    text-align: center;
    padding: 50px 20px;
    background-color: #0D1B2A;
}

.sub-heading {
    font-size: 14px;
    font-weight: bold;
    color: #FE9101;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}

.highlight {
    color: #FE9101;
}


.about-content {
    text-align: center;
    padding: 40px 20px;
}

.text-container {
    max-width: 700px;
    margin: auto;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
