* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #172432;
}

body {
    font-family: 'Poppins', serif;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ensure space between logo and nav items */
    /* background-color: #172432; */
    background-color: #172432;

    background-image: radial-gradient(#FE9101 0.5px, transparent 0.5px), radial-gradient(#FE9101 0.5px, #172432 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    padding: 1rem;
    border-bottom: 2px solid #FE9101;
    /* -webkit-box-shadow: 0px 50px 80px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 50px 80px 0px rgba(0,0,0,0.4);
box-shadow: 0px 50px 80px 0px rgba(0,0,0,0.4); */
}

.logo {
    margin-right: 2rem;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FE9101;
    text-decoration: none;
}

.ops {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    gap: 1rem;
    background-color: transparent;
}

.ops a {
    text-shadow: -2px 4px 11px rgba(0, 0, 0, 0.69);
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.3s ease-in-out;
}

.ops a:hover {
    color: #FE9101;
    border-radius: 5px;
}

.ops #item1 {
    color: #FE9101;

}

.ops img {
    margin-left: 1rem;
    width: 15px;
    background-color: transparent;
    cursor: pointer;
    filter: invert(100%);
}


.header {
    background: url('assets/man-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-bottom: 2px solid #FE9101;
    box-shadow: 10px 10px 153px 68px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 10px 10px 153px 68px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 10px 10px 153px 68px rgba(0, 0, 0, 1) inset;
}

/* .header .retech{
    color: #FE9101;
    background-color: transparent;
} */

.header .retech {
    /* color: #FE9101; */
    background-color: transparent;
}

.header h1 {
    /* height: 350px; */
    /* justify-content: center;
    align-items: center; */
    color: #fff;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #17243200;
    font-family: "Montserrat", serif;

    /* text-shadow: rgba(245,245,245,0.92) 0px 0px 119px; */
    text-shadow: 1px 2px 16px rgba(0, 0, 0, 1);
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    transition: 0.2s ease-in-out;
}

.header h1:hover {
    color: #FE9101;
    font-size: 52px;
    cursor: pointer;

}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #172432;
    opacity: 1;
    background-size: 26px 26px;
    background-image: repeating-linear-gradient(0deg, #FE9101, #FE9101 1.3px, #172432 1.3px, #172432);
}

.product-card {
    background-color: rgba(23, 36, 50, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    color: #FE9101;
    margin: 1rem 0 0.5rem;
    font-size: 1rem;
}

.product-card p {
    color: #fff;
    padding: 0 1rem;
    font-size: 0.875rem;
}

.product-card button {
    background-color: #FE9101;
    color: #172432;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    margin-top: auto;
}

.product-card button:hover {
    background-color: #172432;
    color: #FE9101;
}

.show-all-products {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #172432;
    opacity: 1;
    background-size: 26px 26px;
    background-image: repeating-linear-gradient(0deg, #FE9101, #FE9101 1.3px, #172432 1.3px, #172432);
}

.show-all-products button {
    background-color: #FE9101;
    color: #172432;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.show-all-products button:hover {
    background-color: #fff;
    color: #FE9101;
}

footer {
    font-family: "Montserrat", serif;

    /* text-shadow: rgba(245,245,245,0.92) 0px 0px 119px; */
    text-shadow: 1px 2px 16px rgba(0, 0, 0, 1);
    font-weight: 700;
    font-style: bold;
    background-color: #172432;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0px;

}

.footer-container {
    padding-top: 20px;
    /* border-top: 2px solid #FE9101; */
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.footer-left,
.footer-right {
    max-width: 400px;
    text-align: left;
}

.footer-right {
    text-align: right;
}

h2 {
    margin: 0;
    font-size: 24px;
}

.highlight {
    color: #FE9101;
}

p {
    margin: 10px 0;
    font-size: 14px;
}

h4 {
    margin: 0;
    font-size: 16px;
}

a {
    color: #FE9101;
    text-decoration: none;
}